/* Page 1 Styling */

.title {
	font-size: 2rem;
	line-height: 1.2;
	font-weight: 800;
	letter-spacing: -0.05rem;
	margin: 1rem 0;
	text-align: center;
}

.centerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.innerContainer {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.outlinedButton {
	border: 1px solid #666;
	padding: 10px 40px 10px 40px;
	border-radius: 15px;
}
